---
layout: page
title: Maps
---

<div style="font-size: 170%; color: #00cc99;"> Interactive Maps </div>

<section class="list" style="margin-left: 10%; margin-right: 10%;">
    {% for post in site.posts %}
        {% if post.maps1 %}
        <div class="side-by-side">
            <div class="toleft">
                <img class="image" src="http://s33.postimg.org/et8i4qrm7/Untitled_1.png" alt="Medellín Map" style="margin-left: -10%; margin-top: 5%;">
            </div>
            <div class="toright">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul style="margin-top: -2%;">
            <li>An interactive map examining the social urbanism projects in Medellín, Colombia</li>
            <li>Looks at how these projects have impacted the Quality of Life index in the neighborhoods they were implemented in</li>
            </ul>
            </div>
            </div>
        {% endif %}
        {% if post.maps2 %}
        <div class="side-by-side">
            <div class="toleft">
            </div>
            <div class="toright" style="margin-top: -10%;">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul style="margin-top: -2%;">
            <li>A version of the map above in Spanish</li>
            </ul>
            </div>
            </div>
        {% endif %}
        {% if post.maps3 %}
         <div class="side-by-side">
            <div class="toleft">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul style="margin-top: -2%;">
            <li>An interactive map showcasing four neighborhoods in Medellín, Colombia and the effects of the social urbanism projects implemented there</li>
            <li>These are the only neighborhoods where a project had a statistically significant effect on the Quality of Life index</li>
            </ul>
            </div>
            <div class="toright">
            <img class="image" src="http://s33.postimg.org/9k73b60jz/Untitled_2.png" alt="Medellín Neighborhood Map" style="margin-top: 5%; margin-left: 10%; width: 79%;">
            </div>
            </div>
        {% endif %}
        {% if post.maps4 %}
         <div class="side-by-side">
            <div class="toleft" style="margin-top: -10%;">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul style="margin-top: -2%;">
            <li>A version of the map above in Spanish</li>
            </ul>
            </div>
            <div class="toright">
            </div>
            </div>
        {% endif %}
        {% endfor %}
</section>
<br>

<div style="font-size: 170%; color: #00cc99;"> Static Maps </div>

<section class="list" style="margin-left: 10%; margin-right: 10%;">
    {% for post in site.posts %}
        {% if post.maps5 %}
            <div class="side-by-side">
            <div class="toleft">
                <img class="image" src="http://s33.postimg.org/otwh9vff3/peru_outline.png" alt="Peru Route" style="width: 70%; margin-left: 8%;">
            </div>
            <div class="toright">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul>
            <li>A map of my route through Peru in August - October, 2015</li>
            </ul>
            </div>
            </div>
        {% endif %}
        {% if post.maps6 %}
            <div class="side-by-side">
            <div class="toleft">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul>
            <li>A map of my route through Bolivia in October - December, 2015</li>
            </ul>
            </div>                
            <div class="toright">
            <img class="image" src="http://s33.postimg.org/6hs3gzr67/bolivia_outline.png" alt="Bolivia Route" style="width: 70%;">
            </div> 
            </div>
        {% endif %}
        {% if post.maps7 %}
            <div class="side-by-side">
            <div class="toleft">
                <img class="image" src="http://s33.postimg.org/d5awyd6j3/chile_outline.png" alt="Chile Route" style="width: 27%; margin-left: 32%;">
            </div>
            <div class="toright">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul>
            <li>A map of my route through Chile in December, 2015 - March, 2016</li>
            </ul>
            </div>
            </div>
        {% endif %}
        {% if post.maps8 %}
            <div class="side-by-side">
            <div class="toleft">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul>
            <li>A map of my route through Uruguay in March, 2016</li>
            </ul>
            </div>                
            <div class="toright">
            <img class="image" src="http://s33.postimg.org/v13s95r9r/uruguay_outline.png" alt="Uruguay Route" style="width: 70%;">
            </div> 
            </div>
        {% endif %}
        {% if post.maps9 %}
            <div class="side-by-side">
            <div class="toleft">
                <img class="image" src="http://s33.postimg.org/b4uh7rn0v/argentina_outline.png" alt="Argentina Route" style="width: 50%; margin-left: 25%;">
            </div>
            <div class="toright">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul>
            <li>A map of my route through Argentina in February - April, 2016</li>
            </ul>
            </div>
            </div>
        {% endif %}
        {% if post.maps10 %}
            <div class="side-by-side">
            <div class="toleft">
            <div class="item {% if post.star == true %}star{% endif %}">
                <a class="url" href="{{ site.url }}{{ post.url }}">
                    {{ post.jemoji }}<h3 class="title">{{ post.title }}</h3>
                </a>
            </div>
            <ul>
            <li>A map of my route through Colombia in April - June, 2016</li>
            </ul>
            </div>
            <div class="toright">
            <img class="image" src="https://s32.postimg.org/xa45doe5h/colombia_outline.png" alt="Colombia Route" style="width: 70%;">            
            </div>
            </div>
        {% endif %}
    {% endfor %}
</section>